<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">


<h:head>
<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
	<link rel="stylesheet" type="text/css" href="resources/css/styles.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="favicon/ico" />
<title>Payment Cancellation</title>
</h:head>
<h:body
style="background-image: url(images/pexels-gym-2.jpg) !important;">
	

	<!-- NavBar -->
	<div class="navBar">
		<div class="siteLogo">
			<h:graphicImage url="images/logo.png" class="logoImage" />
			<img src="images/logo.png" class="logoImage" />
		</div>
		<div class="navLinks">
			<h:form class="navLink">
				<a href="index.xhtml">Home</a> 
			</h:form>
			<h:form class="navLink">
				<a href="Pricing.xhtml">Pricing</a>
			</h:form>
			<h:form class="navLink">
				<a href="NewsFeed.xhtml">News Feed</a> 
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="CustomerRegistration.xhtml">Register</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn}">
				<h:commandButton class="navLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="Login.xhtml">Login</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedInAsPT}">
				<a href="TrainerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn and not loginBean.loggedInAsPT}">
				<a href="CustomerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink">
				<a href="Classes.xhtml">Classes</a>
			</h:form>
		</div>
	</div>
	<!-- /NavBar -->
	
	<br/>
	<br/>
	
<h1 class="payment">Payment Cancellation</h1>
<div class="confirmation">


Your payment of <h:outputText value="#{authorizePayment.total}"/> for
<h:outputText value="#{authorizePayment.product}"/>
has been cancelled
<p class="smiley">&#128522;</p>

</div>
</h:body>
</html>
