<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
	<link rel="stylesheet" type="text/css" href="resources/css/styles.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="favicon/ico" />
<title>Check Out</title>
</head>
<body
style="background-image: url(images/pexels-gym-2.jpg) !important;">
	<!-- NavBar -->
	<div class="navBar">
		<div class="siteLogo">
			<h:graphicImage url="images/logo.png" class="logoImage" />
			<img src="images/logo.png" class="logoImage" />
		</div>
		<div class="navLinks">
			<h:form class="navLink">
				<a href="index.xhtml" >Home</a> 
			</h:form>
			<h:form class="navLink">
				<a href="Pricing.xhtml" id="active">Pricing</a>
			</h:form>
			<h:form class="navLink">
				<a href="NewsFeed.xhtml">News Feed</a> 
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="CustomerRegistration.xhtml">Register</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn}">
				<h:commandButton class="navLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="Login.xhtml">Login</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedInAsPT}">
				<a href="TrainerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn and not loginBean.loggedInAsPT}">
				<a href="CustomerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink">
				<a href="Classes.xhtml">Classes</a>
			</h:form>
		</div>
	</div>
	<!-- /NavBar -->
	
	
	<div class="checkout">
		<h1>Check Out</h1>
		<br />
		<h:form>
		<table class="checkoutTable">

		<tr>
			 
		<td><h:outputLabel for="plan">Plan:</h:outputLabel></td>  
		<td><h:selectOneMenu id="plan" value="#{authorizePayment.plan}" onchange="this.form.submit();"
		title="Plan" >
			<f:selectItem itemLabel="Regular" itemValue="1" />
			<f:selectItem itemLabel="Pro" itemValue="1.2" />
			<f:selectItem itemLabel="Premium" itemValue="1.5" />
		</h:selectOneMenu></td>
		</tr>	
		<tr>
		<td><h:outputLabel for="membership">Membership Options:</h:outputLabel> </td>  
		<td><h:selectOneMenu id="membership" value="#{authorizePayment.membership}" onchange="this.form.submit();"
		title="Membership Option" >
			<f:selectItem itemLabel="Single Membership" itemValue="50" />
			<f:selectItem itemLabel="Dual Membership" itemValue="80" />
			<f:selectItem itemLabel="Senior Membership" itemValue="45" />
			<f:selectItem itemLabel="Student Membership" itemValue="30" />
			<f:selectItem itemLabel="Group Membership" itemValue="300" />
		</h:selectOneMenu></td> 
		</tr>
		<tr>
		<td>	
		<h:outputLabel for="duration">Duration:</h:outputLabel> </td>   
		<td>	<h:selectOneMenu id="duration" value="#{authorizePayment.duration}" onchange="this.form.submit();"
		title="Duration in months" >
			<f:selectItem itemLabel="1 Month" itemValue="1" />
			<f:selectItem itemLabel="3 Month" itemValue="3" />
			<f:selectItem itemLabel="6 Month" itemValue="6" />
			<f:selectItem itemLabel="12 Month" itemValue="12" />
		</h:selectOneMenu></td> 
		</tr> 
<tr>
		<td>
			<h:outputLabel for="subtotal">SubTotal:</h:outputLabel></td>  
			<td>	<h:inputText id="subtotal" value="#{authorizePayment.subTotal}" readonly="true"/></td>  
			</tr>
<tr>
		<td>
			<h:outputLabel for="tax">Tax:</h:outputLabel></td>  
			<td>	<h:inputText id="tax" value="#{authorizePayment.tax}" readonly="true"/></td>
			</tr>  
	<tr>
		<td>		
			<h:outputLabel for="total">Total Amount:</h:outputLabel></td>  
			<td>	<h:inputText id="total" value="#{authorizePayment.total}" readonly="true"/></td> 
			</tr> 
			<tr><td>
			<h:commandButton class="checkoutButton" action="#{authorizePayment.checkOut}"
				value="Checkout" /></td></tr>
				<tr>
			Your plan: <h:outputText value="#{authorizePayment.product}" />
			</tr>
			</table>	
		</h:form>
	</div>
</body>
</html>