<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
	<link rel="stylesheet" type="text/css" href="resources/css/styles.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="favicon/ico" />
	<title>Class Registration</title>
</h:head>
<h:body>
	<!-- NavBar -->
	<div class="navBar" style="background-color: rgba(0, 0, 0, 1);">
		<div class="siteLogo">
			<img src="images/logo.png" class="logoImage" style="height: 40px;" />
		</div>
		<div class="navLinks">
			<h:form class="navLink">
				<a href="index.xhtml">Home</a> 
			</h:form>
			<h:form class="navLink">
				<a href="Pricing.xhtml">Pricing</a>
			</h:form>
			<h:form class="navLink">
				<a href="NewsFeed.xhtml">News Feed</a> 
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="CustomerRegistration.xhtml">Register</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn}">
				<h:commandButton class="navLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="Login.xhtml">Login</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedInAsPT}">
				<a href="TrainerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn and not loginBean.loggedInAsPT}">
				<a href="CustomerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink">
				<a href="Classes.xhtml" id="active">Classes</a>
			</h:form>
		</div>
	</div>
	<!-- /NavBar -->
	
	<div class="tableDiv">
		<h:form>
			<h:dataTable var="classes" value="#{classesData.myClasses}"
				styleClass="customerTable" headerClass="customerTableHeader"
				rowClasses="customerTableOddRow, customerTableEvenRow">
				<h:column>
					<f:facet name="header">Class Name</f:facet>
					<h:inputText value="#{classes.className}"
						rendered="#{classes.canEdit}" />
					<h:inputText value="#{classes.className}" readonly="true"
						rendered="#{not classes.canEdit}" />
				</h:column>
				<h:column>
					<f:facet name="header">Spaces Available</f:facet>
					<h:inputText value="#{classes.capacity}"
						rendered="#{classes.canEdit and not classes.individualProgram}" />
					<h:inputText value="#{classes.capacity}" readonly="true"
						rendered="#{not classes.canEdit and not classes.individualProgram}" />
					<h:inputText value="Individual" readonly="true"
						rendered="#{not classes.canEdit and classes.individualProgram}" />
					<h:inputText value="Individual" readonly="true"
						rendered="#{classes.canEdit and classes.individualProgram}" />
				</h:column>
				<h:column>
					<f:facet name="header">Date and Time</f:facet>
					<h:inputText value="#{classes.dateTime.substring(0, 16)}"
						rendered="#{classes.canEdit}" />
					<h:inputText value="#{classes.dateTime.substring(0, 16)}" readonly="true"
						rendered="#{not classes.canEdit}" />
				</h:column>
				<h:column>
				<f:facet name="header">Customers</f:facet>
				<ul>
                  <ui:repeat value="#{classes.customerList}" var="customer">
                  <li style="color:black; background-color:#d0ff42; border-radius:25px; padding:5px; margin:10px;margin-left:30px; list-style:none;">
                   <h:link value="#{customer.email}" rendered="#{not classes.individualProgram}">
                 </h:link>
                 </li>
                  </ui:repeat>
                  </ul>
                  <h:outputText value="#{classes.individualCustomer}"
						rendered="#{classes.individualProgram}" style="color:black; background-color:#d0ff42; border-radius:25px; padding:5px; margin-left:70px" />
				</h:column>
				<h:column>
					<f:facet name="header">Register</f:facet>
					<h:commandLink value="Register"
						style="color:black; background-color:#d0ff42; border-radius:25px; padding:5px;"
						action="#{classesData.addCustomer(classes)}"
						rendered="#{not classes.canEdit and classes.spacesAvailable and not classes.alreadyBooked and not classes.timeConflict and not classes.individualProgram}" />
					<h:outputText value="Already booked"
						style="color:black; background-color:#d0ff42; border-radius:25px; padding:5px;"
						rendered="#{classes.alreadyBooked}" />
					<h:outputText value="Already booked"
						style="color:black; background-color:#d0ff42; border-radius:25px; padding:5px;"
						rendered="#{classes.alreadyBooked and not classes.spacesAvailable and not classes.timeConflict and not classes.individualProgram}" />
					<h:outputText value="Fully booked"
						style="color:black; background-color:#d0ff42; border-radius:25px; padding:5px;"
						rendered="#{not classes.canEdit and not classes.spacesAvailable and not classes.alreadyBooked and not classes.timeConflict and not classes.individualProgram}" />
					<h:outputText value="Time conflict"
						style="color:black; background-color:#d0ff42; border-radius:25px; padding:5px;"
						rendered="#{classes.spacesAvailable and not classes.alreadyBooked and classes.timeConflict and not classes.individualProgram}" />
					<h:outputText value="One-on-one"
						style="color:black; background-color:#d0ff42; border-radius:25px; padding:5px;"
						rendered="#{classes.individualProgram}" />
				</h:column>
				<h:column>
					<f:facet name="header">Remove</f:facet>
					<h:commandLink value="Remove"
						style="color:black; background-color:#d0ff42; border-radius:25px; padding:5px;"
						action="#{classesData.removeClass(classes)}"
						rendered="#{classes.alreadyBooked}" />
					<h:commandLink value="Remove"
						style="color:black; background-color:#d0ff42; border-radius:25px; padding:5px;"
						action="#{classesData.removeIndividualProgram(classes.individualCustomer)}"
						rendered="#{classes.individualProgram}" />
				</h:column>
			</h:dataTable>
			<div class="tableFooterActions">
				<h:commandButton class="tableButtonSave"
					value="Confirm Registration" rendered="#{classes.canEdit}"
					action="#{classesData.saveAction}" />
			</div>
		</h:form>
	</div>



	<!-- Footer -->
	<div class="pageFooter">
		<div class="footerColumns">
			<div class="column1">
	            <img src="images/logo.png" class="footerLogoImage" />
	            <h1>About Us</h1>
	            <p>Waterside Gym was opened by John and Jane Wright in 2005. 
					            They had overseen the steady growth of the business for the first fifteen years of trading. 
					            People are different, so they have different expectations of a gym. However, every person would 
					            like to go to the gym that has a wide range of available equipment.  
					            This equipment must be new, and professional.
					            </p>
					            <p>Waterside Gym offers her users extensive proficiency in these and more. </p>
			</div>
			<div class="column2">
				<h1>Useful Links</h1>
				<br />
				<p>
					<a href="AboutGym.xhtml">About</a>
				</p>
				<p>
					<a href="CustomerRegistration.xhtml">Register</a>
				</p>
				<p>
					<a href="Equipment.xhtml">Facilities</a>
				</p>
				<p>
					<a href="Pricing.xhtml">Pricing</a>
				</p>
				<p>
					<a href="membershipoptions.xhtml">Member Options</a>
				</p>
				<p>
					<a href="Contact.xhtml">Contact Us</a>
				</p>
				<h:body rendered="#{loginBean.loggedIn}">
					<p>
						<a href="Calendar.xhtml">My Schedule</a>
					</p>
				</h:body>
			</div>
			<div class="column3">
				<h1>Subscribe to mailing list</h1>
				<input value="" class="subscribeField" /> <input type="button"
					class="subscribeButton" value="Submit" action="#" />
				<div class="whiteSpaceDiv"></div>
			</div>
		</div>
		<p>&copy; Copyright 2021 Waterside Gym</p>
	</div>
	<!-- /Footer -->
</h:body>

</html>