<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
	<link rel="stylesheet" type="text/css" href="resources/css/styles.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="favicon/ico" />
	<title>Customer Dashboard</title>
</h:head>
<h:body style="background-image: url(images/pexels-gym-2.jpg) !important;">
	
	<!-- NavBar -->
	<div class="navBar" style="background-color: rgba(0, 0, 0, 1);">
		<div class="siteLogo">
			<img src="images/logo.png" class="logoImage" style="height: 40px;" />
		</div>
		<div class="navLinks">
			<h:form class="navLink">
				<a href="index.xhtml">Home</a> 
			</h:form>
			<h:form class="navLink">
				<a href="Pricing.xhtml">Pricing</a>
			</h:form>
			<h:form class="navLink">
				<a href="NewsFeed.xhtml">News Feed</a> 
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="CustomerRegistration.xhtml">Register</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn}">
				<h:commandButton class="navLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="Login.xhtml">Login</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedInAsPT}">
				<a href="TrainerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn and not loginBean.loggedInAsPT}">
				<a href="CustomerDashboard.xhtml" id="active">Dashboard</a>
			</h:form>
			<h:form class="navLink">
				<a href="Classes.xhtml">Classes</a>
			</h:form>
		</div>
	</div>
	<!-- /NavBar -->
	
	<div class="custDash">
		<h:form>
			<br />
			<h3>Welcome #{customerData.returnCustomerName(loginBean.email)}
				to GYM_FIT_FOR_YOU</h3>
			<br></br>
			<h:commandButton action="#{loginBean.logoutUser}" value="Logout"
				ajax="false" styleClass="logoutButton" />
		</h:form>
		<h:form>
			<div class="dashCard">
				<h3>User Details</h3>
				<p:tabView dynamic="true" cache="false">
					<p:tab title="Registered Classes">
						<h:dataTable var="classes"
							value="#{classesData.findCustomerClasses(loginBean.email)}"
							styleClass="dashTable" headerClass="dashTableHeader"
							rowClasses="customerTableOddRow, customerTableEvenRow">
							<h:column>
								<f:facet name="header">Class Name</f:facet>
								<h:outputText value="#{classes.className}" />
							</h:column>
							<h:column>
								<f:facet name="header">Date and Time</f:facet>
								<h:outputText value="#{classes.dateTime}" readonly="true" />
							</h:column>
						</h:dataTable>
					</p:tab>
					<p:tab title="Membership Details">
						<br />
						<h4>Membership Details :
							#{customerData.returnMemberPlan(loginBean.email)}</h4>
						<br />
					</p:tab>
					<p:tab title="Profile">
						<h:dataTable var="customer"
							value="#{customerData.findCustomer(loginBean.email)}"
							styleClass="dashTable" headerClass="dashTableHeader"
							rowClasses="dashTableOddRow, dashTableEvenRow">
							<h:column>
								<f:facet name="header">First Name</f:facet>
								<h:inputText value="#{customer.firstName}"
									rendered="#{customer.canEdit}" required="true" id="firstName"
									requiredMessage="First name required" />
								<h:inputText value="#{customer.firstName}" readonly="true"
									rendered="#{not customer.canEdit}" />
								<h:message for="firstName" />
							</h:column>
							<h:column>
								<f:facet name="header">Last Name</f:facet>
								<h:inputText value="#{customer.lastName}"
									rendered="#{customer.canEdit}" required="true" id="lastName"
									requiredMessage="Last name required" />
								<h:inputText value="#{customer.lastName}" readonly="true"
									rendered="#{not customer.canEdit}" />
								<h:message for="lastName" />
							</h:column>
							<h:column>
								<f:facet name="header">Address</f:facet>
								<h:inputText value="#{customer.address}"
									rendered="#{customer.canEdit}" required="true" id="address"
									requiredMessage="Address required" />

								<h:inputText value="#{customer.address}" readonly="true"
									rendered="#{not customer.canEdit}" />
								<h:message for="address" />
							</h:column>
							<h:column>
								<f:facet name="header">Phone Number</f:facet>
								<h:inputText value="#{customer.phoneNumber}"
									rendered="#{customer.canEdit}" required="true" id="phoneNumber"
									requiredMessage="Phone Number required"
									validatorMessage="Enter valid number (8-10 digits)">
									<f:validateRegex pattern="^\d{8,10}$" />
								</h:inputText>
								<h:inputText value="#{customer.phoneNumber}" readonly="true"
									rendered="#{not customer.canEdit}" />
								<h:message for="phoneNumber" />
							</h:column>
							<h:column>
								<f:facet name="header">Email Address</f:facet>
								<h:inputText value="#{customer.email}" readonly="true"
									rendered="#{customer.canEdit}" />
								<h:inputText value="#{customer.email}" readonly="true"
									rendered="#{not customer.canEdit}" />
							</h:column>
							<h:column>
								<f:facet name="header">Edit</f:facet>
								<h:commandLink value="Edit"
									action="#{customerData.editCustomer(customer)}"
									rendered="#{not customer.canEdit}" />
							</h:column>
						</h:dataTable>
						<div class="tableFooterActions">
							<h:commandButton class="tableButtonSave" value="SaveChanges"
								action="#{customerData.saveAction}" />
						</div>
					</p:tab>
				</p:tabView>
			</div>
		</h:form>
	</div>


	<!-- Footer -->
	<div class="pageFooter">
		<div class="footerColumns">
			<div class="column1">
	            <img src="images/logo.png" class="footerLogoImage" />
	            <h1>About Us</h1>
	            <p>Waterside Gym was opened by John and Jane Wright in 2005. 
					            They had overseen the steady growth of the business for the first fifteen years of trading. 
					            People are different, so they have different expectations of a gym. However, every person would 
					            like to go to the gym that has a wide range of available equipment.  
					            This equipment must be new, and professional.
					            </p>
					            <p>Waterside Gym offers her users extensive proficiency in these and more. </p>
			</div>
			<div class="column2">
				<h1>Useful Links</h1>
				<br />
				<p>
					<a href="AboutGym.xhtml">About</a>
				</p>
				<p>
					<a href="CustomerRegistration.xhtml">Register</a>
				</p>
				<p>
					<a href="Equipment.xhtml">Facilities</a>
				</p>
				<p>
					<a href="Pricing.xhtml">Pricing</a>
				</p>
				<p>
					<a href="membershipoptions.xhtml">Member Options</a>
				</p>
				<p>
					<a href="Contact.xhtml">Contact Us</a>
				</p>
				<h:body rendered="#{loginBean.loggedIn}">
					<p>
						<a href="Calendar.xhtml">My Schedule</a>
					</p>
				</h:body>
			</div>
			<div class="column3">
				<h1>Subscribe to mailing list</h1>
				<input value="" class="subscribeField" /> <input type="button"
					class="subscribeButton" value="Submit" action="#" />
				<div class="whiteSpaceDiv"></div>
			</div>
		</div>
		<p>&copy; Copyright 2021 Waterside Gym</p>
	</div>
	<!-- /Footer -->
</h:body>
</html>
