<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">
<h:head>
    <h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="favicon/ico" />
    <title>Customer Registration</title>
</h:head>
<h:body style="background-image: url(images/pexels-gym-2.jpg) !important;">
    
	<!-- NavBar -->
	<div class="navBar" style="background-color: rgba(0, 0, 0, 1);">
		<div class="siteLogo">
			<img src="images/logo.png" class="logoImage" style="height: 40px;" />
		</div>
		<div class="navLinks">
			<h:form class="navLink">
				<a href="index.xhtml">Home</a> 
			</h:form>
			<h:form class="navLink">
				<a href="Pricing.xhtml">Pricing</a>
			</h:form>
			<h:form class="navLink">
				<a href="NewsFeed.xhtml">News Feed</a> 
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="CustomerRegistration.xhtml" id="active">Register</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn}">
				<h:commandButton class="navLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="Login.xhtml">Login</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedInAsPT}">
				<a href="TrainerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn and not loginBean.loggedInAsPT}">
				<a href="CustomerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink">
				<a href="Classes.xhtml">Classes</a>
			</h:form>
		</div>
	</div>
	<!-- /NavBar -->
	
    <div class="regForm">
        <h2>Add Customer</h2>
        <h:form id="regform">
            <table>
                <tr>
                    <td>First Name:</td>
                    <td>
                        <p:inputText size="20" value="#{customerData.firstName}" required="true" id="firstName" requiredMessage="First name required" />
                    </td>
                    <td>
                        <p:message for="firstName" />
                    </td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td>
                        <p:inputText size="20" value="#{customerData.lastName}" required="true" id="lastName" requiredMessage="Last name required" />
                    </td>
                    <td>
                        <p:message for="lastName" />
                    </td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>
                        <p:inputText size="20" value="#{customerData.address}" required="true" id="address" requiredMessage="Address required" />
                    </td>
                    <td>
                        <p:message for="address" />
                    </td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td>
                        <p:inputText size="20" value="#{customerData.phoneNumber}" required="true" id="phoneNumber" requiredMessage="Phone Number required" validatorMessage="Enter valid number (8-10 digits)">
                            <f:validateRegex pattern="^\d{8,10}$" />
                        </p:inputText>
                    </td>
                    <td>
                        <p:message for="phoneNumber" />
                    </td>
                </tr>
                <tr>
                    <td>Email Address:</td>
                    <td>
                        <p:inputText size="20" value="#{customerData.email}" required="true" id="email" requiredMessage="Email Address required" validatorMessage="Invalid email format">
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                        </p:inputText>
                    </td>
                    <td>
                        <p:message for="email" />
                        <p:message for="regbutton" />
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <p:password value="#{customerData.password}" required="true" id="password" feedback="true" requiredMessage="Password is required, cannot be empty" validatorMessage="Password should match" match="confirmPassword">
                        </p:password>
                    </td>
                    <td>
                        <p:message for="confirmPassword" />
                    </td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td>
                        <p:password value="#{customerData.password}" required="true" id="confirmPassword" feedback="false" requiredMessage="Password is required, cannot be empty" validatorMessage="Password must be 6 or more chars.">
                            <f:validateLength minimum="6" />
                        </p:password>
                    </td>
                    <td>
                        <p:message for="password" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p:commandButton id="regbutton" value="Register" action="#{customerData.addCustomer}" ajax="false" />
                    </td>
                </tr>
            </table>
        </h:form>
    </div>
    <!-- Footer -->
	<div class="pageFooter">
		<div class="footerColumns">
			<div class="column1">
	            <img src="images/logo.png" class="footerLogoImage" />
	            <h1>About Us</h1>
	            <p>Waterside Gym was opened by John and Jane Wright in 2005. 
					            They had overseen the steady growth of the business for the first fifteen years of trading. 
					            People are different, so they have different expectations of a gym. However, every person would 
					            like to go to the gym that has a wide range of available equipment.  
					            This equipment must be new, and professional.
					            </p>
					            <p>Waterside Gym offers her users extensive proficiency in these and more. </p>
			</div>
			<div class="column2">
				<h1>Useful Links</h1>
				<br />
				<p>
					<a href="AboutGym.xhtml">About</a>
				</p>
				<p>
					<a href="CustomerRegistration.xhtml">Register</a>
				</p>
				<p>
					<a href="Equipment.xhtml">Facilities</a>
				</p>
				<p>
					<a href="Pricing.xhtml">Pricing</a>
				</p>
				<p>
					<a href="membershipoptions.xhtml">Member Options</a>
				</p>
				<p>
					<a href="Contact.xhtml">Contact Us</a>
				</p>
				<h:body rendered="#{loginBean.loggedIn}">
					<p>
						<a href="Calendar.xhtml">My Schedule</a>
					</p>
				</h:body>
			</div>
			<div class="column3">
				<h1>Subscribe to mailing list</h1>
				<input value="" class="subscribeField" /> <input type="button"
					class="subscribeButton" value="Submit" action="#" />
				<div class="whiteSpaceDiv"></div>
			</div>
		</div>
		<p>&copy; Copyright 2021 Waterside Gym</p>
	</div>
	<!-- /Footer -->
</h:body>

</html>