<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="favicon/ico" />
	<title>Facilities</title>
</h:head>
<body>

	<!-- NavBar -->
	<div class="navBar" style="background-color: rgba(0, 0, 0, 1);">
		<div class="siteLogo">
			<img src="images/logo.png" class="logoImage" style="height: 40px;" />
		</div>
		<div class="navLinks">
			<h:form class="navLink">
				<a href="index.xhtml">Home</a> 
			</h:form>
			<h:form class="navLink">
				<a href="Pricing.xhtml">Pricing</a>
			</h:form>
			<h:form class="navLink">
				<a href="NewsFeed.xhtml">News Feed</a> 
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="CustomerRegistration.xhtml">Register</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn}">
				<h:commandButton class="navLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="Login.xhtml">Login</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedInAsPT}">
				<a href="TrainerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn and not loginBean.loggedInAsPT}">
				<a href="CustomerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink">
				<a href="Classes.xhtml">Classes</a>
			</h:form>
		</div>
	</div>
	<!-- /NavBar -->
	
<div class="equipmentForm">
         <img src="images/Cardio_image.jpg" class="equipmentImage"> </img>
         <p class="equipmentFormTitle">Cardio</p>
         <p class="equipmentFormText">
         Cardio exercises are essential for losing weight, muscle toning, and improving cardiovascular fitness.
         At Gym Fit For You, we have an extensive range of equipment to facilitate cardio exercises, including an entire 
         section of the gym dedicated to treadmills, exercise bikes, elliptical, stairs, and spinning machines.
         </p>         
</div>

<div class="equipmentForm2">
         <img src="images/Free_weights_image.jpg" class="equipmentImage"> </img>
         <p class="equipmentFormTitle">Free Weights</p>
         <p class="equipmentFormText">
         Incorporating free weights into an exercise regime is essential for muscle growth, improving balance, and gaining strength.
         At Gym Fit For You, a large section of the gym is solely dedicated to free weights, which includes dumbbells, bench presses,
         squat racks, curl bars, and a large variety of plates to suit weight lifters of different levels of experience.
         </p>         
</div>

<div class="equipmentForm3">
         <img src="images/Machines_image.jpg" class="equipmentImage"> </img>
         <p class="equipmentFormTitle">Weight Machines</p>
         <p class="equipmentFormText">
         Weight machines are essential for safely isolating and targeting different muscle groups.
         At Gym Fit For You, we have a wide range of weight machines for every muscle group, including 
         leg presses, leg extensions, lateral pull-downs, tricep dips, arm extensions, and overhead or chest press machines.
         </p>          
</div>

<div class="equipmentForm4">
         <img src="images/Pool_image.jpg" class="equipmentImage"> </img>
         <p class="equipmentFormTitle">Indoor Pool</p>
         <p class="equipmentFormText">
         Swimming is one of the most effective exercises for working each muscle group, 
         building endurance, and improving cardiovascular fitness, all while minimizing impact 
         stress. If you are looking to incorporate swimming into your exercise routine, Gym Fit For You 
         has a full 20-meter pool with four lanes. Our swimming facilities are open to all members.
         </p>           
</div>

<div class="equipmentForm4">
         <img src="images/Sauna_image.jpg" class="equipmentImage"> </img>
         <p class="equipmentFormTitle">Sauna and Steamroom</p>
         <p class="equipmentFormText">
         Saunas have a number of health benefits, including stimulating weight loss, blood circulation, 
         detoxification, and increased metabolism. If you are looking to relax after a workout, Gym Fit 
         For You has modern sauna and steamroom facilities, which can be accessed by gym members 
         to increase their health benefits from the gym.
         </p>           
</div>

<!-- Footer -->
	<div class="pageFooter">
		<div class="footerColumns">
			<div class="column1">
	            <img src="images/logo.png" class="footerLogoImage" />
	            <h1>About Us</h1>
	            <p>Waterside Gym was opened by John and Jane Wright in 2005. 
					            They had overseen the steady growth of the business for the first fifteen years of trading. 
					            People are different, so they have different expectations of a gym. However, every person would 
					            like to go to the gym that has a wide range of available equipment.  
					            This equipment must be new, and professional.
					            </p>
					            <p>Waterside Gym offers her users extensive proficiency in these and more. </p>
			</div>
			<div class="column2">
				<h1>Useful Links</h1>
				<br />
				<p>
					<a href="AboutGym.xhtml">About</a>
				</p>
				<p>
					<a href="CustomerRegistration.xhtml">Register</a>
				</p>
				<p>
					<a href="Equipment.xhtml">Facilities</a>
				</p>
				<p>
					<a href="Pricing.xhtml">Pricing</a>
				</p>
				<p>
					<a href="membershipoptions.xhtml">Member Options</a>
				</p>
				<p>
					<a href="Contact.xhtml">Contact Us</a>
				</p>
				<h:body rendered="#{loginBean.loggedIn}">
					<p>
						<a href="Calendar.xhtml">My Schedule</a>
					</p>
				</h:body>
			</div>
			<div class="column3">
				<h1>Subscribe to mailing list</h1>
				<input value="" class="subscribeField" /> <input type="button"
					class="subscribeButton" value="Submit" action="#" />
				<div class="whiteSpaceDiv"></div>
			</div>
		</div>
		<p>&copy; Copyright 2021 Waterside Gym</p>
	</div>
	<!-- /Footer -->
</body>
</html>