<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="favicon/ico" />
    <title>Registered User</title>
</h:head>
<h:body>

    <!-- NavBar -->
	<div class="navBar" style="background-color: rgba(0, 0, 0, 1);">
		<div class="siteLogo">
			<img src="images/logo.png" class="logoImage" style="height: 40px;" />
		</div>
		<div class="navLinks">
			<h:form class="navLink">
				<a href="index.xhtml">Home</a> 
			</h:form>
			<h:form class="navLink">
				<a href="Pricing.xhtml">Pricing</a>
			</h:form>
			<h:form class="navLink">
				<a href="NewsFeed.xhtml">News Feed</a> 
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="CustomerRegistration.xhtml">Register</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn}">
				<h:commandButton class="navLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="Login.xhtml">Login</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedInAsPT}">
				<a href="TrainerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn and not loginBean.loggedInAsPT}">
				<a href="CustomerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink">
				<a href="Classes.xhtml">Classes</a>
			</h:form>
		</div>
	</div>
	<!-- /NavBar -->
	
    <div class="tableDiv">
        <h:form>
            <h:dataTable var="customer" value="#{customerData.customers}" styleClass="customerTable" headerClass="customerTableHeader" rowClasses="customerTableOddRow, customerTableEvenRow">
                <h:column>
                    <f:facet name="header">First Name</f:facet>
                    <h:inputText value="#{customer.firstName}" rendered="#{customer.canEdit}" />
                    <h:inputText value="#{customer.firstName}" readonly="true" rendered="#{not customer.canEdit}" />
                </h:column>
                <h:column>
                    <f:facet name="header">Last Name</f:facet>
                    <h:inputText value="#{customer.lastName}" rendered="#{customer.canEdit}" />
                    <h:inputText value="#{customer.lastName}" readonly="true" rendered="#{not customer.canEdit}" /></h:column>
                <h:column>
                    <f:facet name="header">Address</f:facet>
                    <h:inputText value="#{customer.address}" rendered="#{customer.canEdit}" />
                    <h:inputText value="#{customer.address}" readonly="true" rendered="#{not customer.canEdit}" /></h:column>
                <h:column>
                    <f:facet name="header">Phone Number</f:facet>
                    <h:inputText value="#{customer.phoneNumber}" rendered="#{customer.canEdit}" />
                    <h:inputText value="#{customer.phoneNumber}" readonly="true" rendered="#{not customer.canEdit}" /></h:column>
                <h:column>
                    <f:facet name="header">Email Address</f:facet>
                    <h:inputText value="#{customer.email}" rendered="#{customer.canEdit}" />
                    <h:inputText value="#{customer.email}" readonly="true" rendered="#{not customer.canEdit}" /></h:column>
                
                <h:column>
                    <f:facet name="header">Plan</f:facet>
                    <h:inputText value="#{customer.purchasedPlan}" readonly="true" /></h:column>
                
                <h:column>
                    <f:facet name="header">Delete</f:facet>
                    <h:commandLink value="Delete" action="#{customerData.deleteCustomer(customer)}" rendered="#{not customer.canEdit}" />
                </h:column>

            </h:dataTable>
            <div class="tableFooterActions">
                <h:commandButton class="tableButtonSave" value="SaveChanges" action="#{customerData.saveAction}" />
                <a href="http://localhost:8080/GYM_FIT_FOR_YOU/index.xhtml">home</a><br></br>
            </div>
        </h:form>
    </div>
    <!-- Footer -->
	<div class="pageFooter">
		<div class="footerColumns">
			<div class="column1">
	            <img src="images/logo.png" class="footerLogoImage" />
	            <h1>About Us</h1>
	            <p>Waterside Gym was opened by John and Jane Wright in 2005. 
					            They had overseen the steady growth of the business for the first fifteen years of trading. 
					            People are different, so they have different expectations of a gym. However, every person would 
					            like to go to the gym that has a wide range of available equipment.  
					            This equipment must be new, and professional.
					            </p>
					            <p>Waterside Gym offers her users extensive proficiency in these and more. </p>
			</div>
			<div class="column2">
				<h1>Useful Links</h1>
				<br />
				<p>
					<a href="AboutGym.xhtml">About</a>
				</p>
				<p>
					<a href="CustomerRegistration.xhtml">Register</a>
				</p>
				<p>
					<a href="Equipment.xhtml">Facilities</a>
				</p>
				<p>
					<a href="Pricing.xhtml">Pricing</a>
				</p>
				<p>
					<a href="membershipoptions.xhtml">Member Options</a>
				</p>
				<p>
					<a href="Contact.xhtml">Contact Us</a>
				</p>
				<h:body rendered="#{loginBean.loggedIn}">
					<p>
						<a href="Calendar.xhtml">My Schedule</a>
					</p>
				</h:body>
			</div>
			<div class="column3">
				<h1>Subscribe to mailing list</h1>
				<input value="" class="subscribeField" /> <input type="button"
					class="subscribeButton" value="Submit" action="#" />
				<div class="whiteSpaceDiv"></div>
			</div>
		</div>
		<p>&copy; Copyright 2021 Waterside Gym</p>
	</div>
	<!-- /Footer -->
</h:body>

</html>