<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
	<link rel="shortcut icon" href="images/favicon.ico" type="favicon/ico" />
    <title>Membership Option</title>
</h:head>
<h:body>
    
    <!-- NavBar -->
	<div class="navBar" style="background-color: rgba(0, 0, 0, 1);">
		<div class="siteLogo">
			<img src="images/logo.png" class="logoImage" style="height: 40px;" />
		</div>
		<div class="navLinks">
			<h:form class="navLink">
				<a href="index.xhtml">Home</a> 
			</h:form>
			<h:form class="navLink">
				<a href="Pricing.xhtml">Pricing</a>
			</h:form>
			<h:form class="navLink">
				<a href="NewsFeed.xhtml">News Feed</a> 
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="CustomerRegistration.xhtml">Register</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn}">
				<h:commandButton class="navLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="Login.xhtml">Login</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedInAsPT}">
				<a href="TrainerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn and not loginBean.loggedInAsPT}">
				<a href="CustomerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink">
				<a href="Classes.xhtml">Classes</a>
			</h:form>
		</div>
	</div>
	<!-- /NavBar -->
	
    <div class="pageBody">
        <p>GYM<br/><span>FIT</span><br/>FOR<br/>YOU
        </p>
        <a href="AboutGym.xhtml" class="readMore">Read More</a>
    </div>

    <a href="CustomerRegistration.xhtml">
        <div class="floatRegister">
            <p>Join</p>
            <p>Today</p>
        </div>
    </a>
     <p>  <br/><span>  </span><br/>  <br/></p>
    <div class="Memberships">
    <table><tr>
    <th>Single Membership</th>
    <th>Dual Membership</th>
    <th>Senior Membership</th>
    <th>Student Membership</th>
    <th>Group Membership</th>
    </tr>

	<tr>
		<td>Unlimited access to all gym facilities for one person (24*7)</td>
		<td>Unlimited access to all gym facilities for two person (24*7)</td>
		<td>Unlimited access to all gym facilities for one person above 55 (24*7)</td>
		<td>Unlimited access to all gym facilities for one student (24*7)</td>
		<td>Unlimited access to all gym facilities for a group of 8 person (prescheduled)</td>
	</tr>
	<tr>
		<td>Starting from €50 per month</td>
		<td>Starting from €80 per month</td>
		<td>Starting from €45 per month</td>
		<td>Starting from €30 per month</td>
		<td>Starting from €300 per month</td>
	</tr>
			<!--      <tr><td>125 Euro for 3 months</td>
    <td>225 Euro for 3 months</td>
    <td>120 Euro for 3 months</td>
    <td>70 Euro for 3 months</td>
    <td>800 Euro for 3 months</td>
    </tr> -->
    </table>
    </div>
    <p>  <br/><span>  </span><br/>  <br/></p>
    
   <!--  <div class="questions">
    <table>
    <tr class="dropdown"> <td>This is the question?</td>
    </tr>
    <tr class="dropdown-content">
    <td>This is the answer</td>
    </tr>
        <tr class="dropdown"> <td>This is the question2?</td>
    </tr>
    <tr class="dropdown-content">
    <td>This is the answer2</td>
    </tr>
    </table>
	</div> -->
	<h2 class="faq">FAQs</h2>
	<p class="qstn1">How can I join the gym?</p>
	<p class="ans1">You can join by registering in our registration page.All the following formalities will be available once u register.</p>
    <p class="qstn2">Do I need to book a slot for the gym?</p>
    <p class="ans2">Yes.Gym slots are 45 minutes.It should be booked and added to your scheduled session</p>
	<p class="qstn3">Can I cancel the gym time slot I booker?</p>
	<p class="ans3">Yes,but you should inform the authorities 24hr early.</p>
	<p class="qstn4">Can I pay by cash for my membership?</p>
	<p class="ans4">No.We only have online payment options.</p>
	<p class="qstn5">Is personal trainer available?</p>
	<p class="ans5">Yes.You can select your personal trainer from the professional trainers in our gym.</p>
	
	
	
	
	
  <p>  <br/><span>  </span><br/>  <br/></p>
    <!-- Footer -->
	<div class="pageFooter">
		<div class="footerColumns">
			<div class="column1">
	            <img src="images/logo.png" class="footerLogoImage" />
	            <h1>About Us</h1>
	            <p>Waterside Gym was opened by John and Jane Wright in 2005. 
					            They had overseen the steady growth of the business for the first fifteen years of trading. 
					            People are different, so they have different expectations of a gym. However, every person would 
					            like to go to the gym that has a wide range of available equipment.  
					            This equipment must be new, and professional.
					            </p>
					            <p>Waterside Gym offers her users extensive proficiency in these and more. </p>
			</div>
			<div class="column2">
				<h1>Useful Links</h1>
				<br />
				<p>
					<a href="AboutGym.xhtml">About</a>
				</p>
				<p>
					<a href="CustomerRegistration.xhtml">Register</a>
				</p>
				<p>
					<a href="Equipment.xhtml">Facilities</a>
				</p>
				<p>
					<a href="Pricing.xhtml">Pricing</a>
				</p>
				<p>
					<a href="membershipoptions.xhtml">Member Options</a>
				</p>
				<p>
					<a href="Contact.xhtml">Contact Us</a>
				</p>
				<h:body rendered="#{loginBean.loggedIn}">
					<p>
						<a href="Calendar.xhtml">My Schedule</a>
					</p>
				</h:body>
			</div>
			<div class="column3">
				<h1>Subscribe to mailing list</h1>
				<input value="" class="subscribeField" /> <input type="button"
					class="subscribeButton" value="Submit" action="#" />
				<div class="whiteSpaceDiv"></div>
			</div>
		</div>
		<p>&copy; Copyright 2021 Waterside Gym</p>
	</div>
	<!-- /Footer -->
</h:body>

</html>