<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<h:head>
	<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
	<link rel="stylesheet" type="text/css" href="resources/css/styles.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="favicon/ico" />
	<title>News feed</title>
</h:head>
<h:body style="background-image: url(images/pexels-gym-3.jpg) !important; background-color: rgba(0,0,0,0.03)">
	
    <!-- NavBar -->
	<div class="navBar" style="background-color: rgba(0, 0, 0, 1);">
		<div class="siteLogo">
			<img src="images/logo.png" class="logoImage" style="height: 40px;" />
		</div>
		<div class="navLinks">
			<h:form class="navLink">
				<a href="index.xhtml" >Home</a> 
			</h:form>
			<h:form class="navLink">
				<a href="Pricing.xhtml">Pricing</a>
			</h:form>
			<h:form class="navLink">
				<a href="NewsFeed.xhtml" id="active">News Feed</a> 
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="CustomerRegistration.xhtml">Register</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn}">
				<h:commandButton class="navLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="Login.xhtml">Login</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedInAsPT}">
				<a href="TrainerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn and not loginBean.loggedInAsPT}">
				<a href="CustomerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink">
				<a href="Classes.xhtml">Classes</a>
			</h:form>
		</div>
	</div>
	<!-- /NavBar -->
	


	<ui:repeat value="#{postData.posts}" var="post">
		<h:form rendered="#{!post.membersOnly}">
			<div class="feedPost">
				<h:graphicImage library="media" name="#{post.media}" width="100%"
					rendered="#{post.image}"></h:graphicImage>
				<h:form rendered="#{not post.image}">
					<video controls="controls" width="100%"> <source
						src="resources/media/#{post.media}" type="video/mp4" /> </video>
				</h:form>
				<h1 class="postTitle">#{post.title}</h1>
				<p>#{LoginBean.email2}</p>
				<p class="postContent">#{post.content}</p>
				<br />
				<p class="postAuthor">
					#{post.author}<br />#{post.date}
				</p>
			</div>
			<br />
		</h:form>
	</ui:repeat>

	<ui:repeat value="#{postData.posts}" var="post">
		<h:form rendered="#{post.membersOnly}">
			<h:form rendered="#{loginBean.member}">
				<div class="feedPost">
					<h:graphicImage library="media" name="#{post.media}" width="100%"
						rendered="#{post.image}"></h:graphicImage>
					<h:form rendered="#{not post.image}">
						<video controls="controls" width="100%"> <source
							src="resources/media/#{post.media}" type="video/mp4" /> </video>
					</h:form>
					<h1 class="postTitle">#{post.title}</h1>
					<p>#{LoginBean.email2}</p>
					<p class="postContent">#{post.content}</p>
					<br />
					<p class="postAuthor">
						#{post.author}<br />#{post.date}
					</p>
				</div>
				<br />
			</h:form>
		</h:form>
	</ui:repeat>

	<h:form class="feedForm" rendered="#{loginBean.loggedInAsPT}"
		enctype="multipart/form-data">
		<div class="formBar">
			<h4>Add Post</h4>
			<h:commandLink value="Close X" />
		</div>
		<table>
			<tr>
				<td>Title:</td>
				<td><p:inputText size="20" value="#{postData.title}"
						required="true" id="title" requiredMessage="Title required" /></td>
				<td><p:message for="title" /></td>
			</tr>
			<tr>
				<td>Content:</td>
				<td><p:inputText size="20" value="#{postData.content}"
						class="messageInput" required="true" id="content"
						requiredMessage="Content required" /></td>
				<td><p:message for="content" /></td>
			</tr>
			<tr>
				<td>Photo or Video:</td>
				<td><h:inputFile value="#{postData.part}"></h:inputFile></td>
			</tr>
			<tr style="display: none;">
				<td>Date:</td>
				<td><p:inputText size="40" value="#{postData.date}" id="date" /></td>
				<td><p:message for="date" /></td>
			</tr>
			<tr>
				<td>Members only:</td>
				<td><p:selectBooleanCheckbox size="40"
						value="#{postData.membersOnly}" id="membersOnly" /></td>
				<td><p:message for="membersOnly" /></td>
			</tr>
			<tr>
				<td></td>
				<td><p:commandButton value="Create"
						action="#{postData.addPost}" ajax="false" /></td>
			</tr>
		</table>
	</h:form>

	<br></br>
	<!-- Footer -->
	<div class="pageFooter">
		<div class="footerColumns">
			<div class="column1">
	            <img src="images/logo.png" class="footerLogoImage" />
	            <h1>About Us</h1>
	            <p>Waterside Gym was opened by John and Jane Wright in 2005. 
					            They had overseen the steady growth of the business for the first fifteen years of trading. 
					            People are different, so they have different expectations of a gym. However, every person would 
					            like to go to the gym that has a wide range of available equipment.  
					            This equipment must be new, and professional.
					            </p>
					            <p>Waterside Gym offers her users extensive proficiency in these and more. </p>
			</div>
			<div class="column2">
				<h1>Useful Links</h1>
				<br />
				<p>
					<a href="AboutGym.xhtml">About</a>
				</p>
				<p>
					<a href="CustomerRegistration.xhtml">Register</a>
				</p>
				<p>
					<a href="Equipment.xhtml">Facilities</a>
				</p>
				<p>
					<a href="Pricing.xhtml">Pricing</a>
				</p>
				<p>
					<a href="membershipoptions.xhtml">Member Options</a>
				</p>
				<p>
					<a href="Contact.xhtml">Contact Us</a>
				</p>
				<h:body rendered="#{loginBean.loggedIn}">
					<p>
						<a href="Calendar.xhtml">My Schedule</a>
					</p>
				</h:body>
			</div>
			<div class="column3">
				<h1>Subscribe to mailing list</h1>
				<input value="" class="subscribeField" /> <input type="button"
					class="subscribeButton" value="Submit" action="#" />
				<div class="whiteSpaceDiv"></div>
			</div>
		</div>
		<p>&copy; Copyright 2021 Waterside Gym</p>
	</div>
	<!-- /Footer -->
</h:body>
</html>