<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Result Page</title>
</h:head>
<h:body>

	<h3>Result Page</h3>
	<h:graphicImage library="media" name="#{uploadManagedBean.media}" width="100%" rendered="#{uploadManagedBean.image}"></h:graphicImage>
	<h:form rendered="#{not uploadManagedBean.image}">
		<video controls="controls" width="100%" >
		  <source src="resources/media/#{uploadManagedBean.media}" type="video/mp4"/>
		</video>
	</h:form>

</h:body>
</html>