<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
	<link rel="stylesheet" type="text/css" href="resources/css/styles.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="favicon/ico" />
	<title>Personal Trainer Dashboard</title>
</h:head>
<h:body style="background-image: url(images/pexels-gym-2.jpg) !important;">
	
    <!-- NavBar -->
	<div class="navBar" style="background-color: rgba(0, 0, 0, 1);">
		<div class="siteLogo">
			<img src="images/logo.png" class="logoImage" style="height: 40px;" />
		</div>
		<div class="navLinks">
			<h:form class="navLink">
				<a href="index.xhtml" >Home</a> 
			</h:form>
			<h:form class="navLink">
				<a href="Pricing.xhtml">Pricing</a>
			</h:form>
			<h:form class="navLink">
				<a href="NewsFeed.xhtml">News Feed</a> 
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="CustomerRegistration.xhtml">Register</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn}">
				<h:commandButton class="navLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
			</h:form>
			<h:form class="navLink" rendered="#{not loginBean.loggedIn}">
				<a href="Login.xhtml">Login</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedInAsPT}">
				<a href="TrainerDashboard.xhtml" id="active">Dashboard</a>
			</h:form>
			<h:form class="navLink" rendered="#{loginBean.loggedIn and not loginBean.loggedInAsPT}">
				<a href="CustomerDashboard.xhtml">Dashboard</a>
			</h:form>
			<h:form class="navLink">
				<a href="Classes.xhtml">Classes</a>
			</h:form>
		</div>
	</div>
	<!-- /NavBar -->
	
    
	<br/>
	<br/>
	<br/>
	
	<table>
		<tr>
			<td>
				<div class="trainerDashboardProfileCard">
				<img src="images/Portrait_Placeholder.png" width="350px"/>
					<br/>
					<h1>Welcome</h1>
					<h2>#{loginBean.email}</h2>
					<br/>
					<h:form class="navLink" rendered="#{not customerData.editMode}">
						<p:commandButton class="profileButton" value="Edit Profile" action="#{customerData.switchToEdit(loginBean.email)}" ajax="false" />
					</h:form>
					<h:form class="navLink" rendered="#{customerData.editMode}">
						<p:commandButton class="profileButton" value="Cancel" action="#{customerData.switchToDashboard()}" ajax="false" />
					</h:form>
					&nbsp;
					<h:form class="navLink">
						<h:commandButton class="ptLogoutButton" action="#{loginBean.logoutUser}" value="Logout" ajax="false"/>
					</h:form>
					<br/>
					<br/>
				</div>
			</td>
			<td>
				<h:form rendered="#{not customerData.editMode}">
					<table>
						<tr>
							<td>
								<a href="Classes.xhtml">
									<div class="trainerDashboardCard">
										<br />
										<h1>Classes</h1>
										<h3>Total Classes: #{classesData.getTotalClasses()}</h3>
										<br></br>
									</div>
								</a>
							</td>
							<td>
								<a href="ClassRegistration.xhtml">
									<div class="trainerDashboardCard">
										<br />
										<h1>Manage Class Members</h1>
										<h3>Total assigned: #{classesData.getTotalRegisteredCustomers()}</h3>
										<br></br>
									</div>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="ListOfPT.xhtml">
									<div class="trainerDashboardCard">
										<br />
										<h1>Personal Trainers</h1>
										<h3>Total Trainers: #{customerData.getTotalTrainers()}</h3>
										<br></br>
									</div>
								</a>
							</td>
							<td>
								<a href="ListRegisteredUsers.xhtml">
									<div class="trainerDashboardCard">
										<br />
										<h1>Registered Members</h1>
										<h3>Total Registered: #{customerData.getTotalCustomers()}</h3>
										<br></br>
									</div>
								</a>
							</td>
						</tr>
					</table>
				</h:form>
				<h:body rendered="#{customerData.editMode}">
					<div class="trainerRegForm">
						<h:form >
				            <table>
				                <tr>
				                    <td>First Name:</td>
				                    <td>
				                        <p:inputText size="20" value="#{customerData.firstName}" required="true" id="firstName" requiredMessage="First name required" />
				                    </td>
				                    <td>
				                        <p:message for="firstName" />
				                    </td>
				                </tr>
				                <tr>
				                    <td>Last Name:</td>
				                    <td>
				                        <p:inputText size="20" value="#{customerData.lastName}" required="true" id="lastName" requiredMessage="Last name required" />
				                    </td>
				                    <td>
				                        <p:message for="lastName" />
				                    </td>
				                </tr>
				                <tr>
				                    <td>Address:</td>
				                    <td>
				                        <p:inputText size="20" value="#{customerData.address}" required="true" id="address" requiredMessage="Address required" />
				                    </td>
				                    <td>
				                        <p:message for="address" />
				                    </td>
				                </tr>
				                <tr>
				                    <td>Phone Number:</td>
				                    <td>
				                        <p:inputText size="20" value="#{customerData.phoneNumber}" required="true" id="phoneNumber" requiredMessage="Phone Number required" validatorMessage="Enter valid number (8-10 digits)">
				                            <f:validateRegex pattern="^\d{8,10}$" />
				                        </p:inputText>
				                    </td>
				                    <td>
				                        <p:message for="phoneNumber" />
				                    </td>
				                </tr>
				                <tr>
				                    <td>Email Address:</td>
				                    <td>
				                        <p:inputText size="20" value="#{customerData.email}" readonly="true" id="email" requiredMessage="Email Address required" validatorMessage="Invalid email format">
				                        </p:inputText>
				                    </td>
				                    <td>
				                    </td>
		                		</tr>
				                <tr>
				                    <td></td>
				                    <td>
				                        <p:commandButton class="trainerRegButton" value="Update" action="#{customerData.updateCurrentCustomer}" ajax="false" />
				                        
				                    </td>
				                </tr>
				            </table>
				        </h:form>
				        <h:form>
							<p:commandButton class="textButton" value="Cancel" action="#{customerData.switchToDashboard()}" ajax="false" />
						</h:form>
					</div>
				</h:body>
			</td>
		</tr>
	</table>
	
	





	<!-- Footer -->
	<div class="pageFooter">
		<div class="footerColumns">
			<div class="column1">
	            <img src="images/logo.png" class="footerLogoImage" />
	            <h1>About Us</h1>
	            <p>Waterside Gym was opened by John and Jane Wright in 2005. 
					            They had overseen the steady growth of the business for the first fifteen years of trading. 
					            People are different, so they have different expectations of a gym. However, every person would 
					            like to go to the gym that has a wide range of available equipment.  
					            This equipment must be new, and professional.
					            </p>
					            <p>Waterside Gym offers her users extensive proficiency in these and more. </p>
			</div>
			<div class="column2">
				<h1>Useful Links</h1>
				<br />
				<p>
					<a href="AboutGym.xhtml">About</a>
				</p>
				<p>
					<a href="CustomerRegistration.xhtml">Register</a>
				</p>
				<p>
					<a href="Equipment.xhtml">Facilities</a>
				</p>
				<p>
					<a href="Pricing.xhtml">Pricing</a>
				</p>
				<p>
					<a href="membershipoptions.xhtml">Member Options</a>
				</p>
				<p>
					<a href="Contact.xhtml">Contact Us</a>
				</p>
				<h:body rendered="#{loginBean.loggedIn}">
					<p>
						<a href="Calendar.xhtml">My Schedule</a>
					</p>
				</h:body>
			</div>
			<div class="column3">
				<h1>Subscribe to mailing list</h1>
				<input value="" class="subscribeField" /> <input type="button"
					class="subscribeButton" value="Submit" action="#" />
				<div class="whiteSpaceDiv"></div>
			</div>
		</div>
		<p>&copy; Copyright 2021 Waterside Gym</p>
	</div>
	<!-- /Footer -->
</h:body>
</html>
