<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
	<title>Experimental Page</title>
</h:head>
<h:body  style="background-image: url(images/pexels-gym-4.jpg) !important; background-color: rgba(0,0,0,0.05)">
<div class="navBar" style="background-color: rgba(0, 0, 0, 1);">
        <div class="siteLogo">
            <img src="images/logo.png" class="logoImage" style="height: 40px;"/>
        </div>
        <div class="navLinks">
            <a href="http://localhost:8080/GYM_FIT_FOR_YOU/index.xhtml">Home</a>
            <a href="http://localhost:8080/GYM_FIT_FOR_YOU/Pricing.xhtml">Pricing</a>
            <a href="http://localhost:8080/GYM_FIT_FOR_YOU/NewsFeed.xhtml">News Feed</a>
            <a href="http://localhost:8080/GYM_FIT_FOR_YOU/CustomerRegistration.xhtml">Register</a>
            <a href="http://localhost:8080/GYM_FIT_FOR_YOU/Login.xhtml">Login</a>
        </div>
    </div>
    
	
	
	
	
	
	
	
	<h:form class="contactForm" rendered="true">
	    <div class="formBar">
	    	<h1>Experimental Page</h1>
	    </div>
		  
	</h:form>
	
	

	
	<h:form enctype="multipart/form-data" class="contactForm">
	<h3>Upload Page</h3>
		Photo <h:inputFile value="#{uploadManagedBean.part}"></h:inputFile>
		<br></br>
		<h:commandButton value="Upload" action="#{uploadManagedBean.processUpload()}"></h:commandButton>
	</h:form>
	
	
	
	
	
	
	 
	<br></br>
	<!-- Footer -->
    <div class="pageFooter">
	    <div class="footerColumns">
			<div class="column1">
	            <img src="images/logo.png" class="footerLogoImage" />
	            <h1>About Us</h1>
	            <p>Waterside Gym was opened by John and Jane Wright in 2005. 
	            They had overseen the steady growth of the business for the first fifteen years of trading. 
	            However, concerned with reduction in membership despite an increased national focus on health, 
	            fitness and exercise, they completed a root and branch analysis of their business offerings 
	            against current trends in keep-fit, exercise and wellness.</p>
			</div>
			<div class="column2">
				<h1>Useful Links</h1>
				<br/>
					<p><a href="AboutGym.xhtml">About</a></p>
					<p><a href="CustomerRegistration.xhtml">Register</a></p>
					<p><a href="Pricing.xhtml">Pricing</a></p>
					<p><a href="ListRegisteredUsers.xhtml">Members</a></p>
					<p><a href="membershipoptions.xhtml">Member Options</a></p>
					<p><a href="Contact.xhtml">Contact Us</a></p>
			</div>
			<div class="column3">
				<h1>Subscribe to mailing list</h1>
	            <input value="" class="subscribeField" />
	            <input type="button" class="subscribeButton" value="Submit" action="#" />
	            <div class="whiteSpaceDiv"></div>
			</div>
		</div>
		<p>&copy; Copyright 2021 Waterside Gym</p>
	</div>
</h:body>
</html>