<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
<title>Registered User</title>
</h:head>
<h:body>
<h1>Welcome to GYM_FIT_FOR_YOU</h1>
<h3>Welcome #{loginBean.email}</h3>
<a href="http://localhost:8080/GYM_FIT_FOR_YOU/index.xhtml">Log out</a><br></br>
</h:body>
</html>