body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(27, 31, 0, 1) 95%, rgba(47, 50, 0, 1) 100%);
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-image: url(../../images/pexels-gym-1.jpg);
}

.navBar {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 0px;
    margin-left: -10px;
    border-bottom: solid #d0ff42 3px;
    z-index:3;
}

.navLinks {
    float: right;
    margin-right: 8%;
}

.navLink {
	display: inline-block;
}

.navLinks a {
    width: 110px;
    height: 20px;
    padding: 20px;
    margin: auto;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: .1em;
}

.navLogoutButton {
	width: 110px;
    height: 40px !important;
    padding: 20px;
    margin: auto;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: .1em;
    background-color: rgba(0,0,0,0) !important;
    border: solid rgba(0,0,0,0) 0px !important;
    cursor: pointer;
    border-radius: 0;
}

.navLinks #active {
    color: #d0ff42;
}

.navLinks a:hover {
    color: black !important;
    background: #d0ff42;
    letter-spacing: .3em;
}

.navLogoutButton:hover {
    color: black !important;
    background: #d0ff42 !important;
    letter-spacing: .3em;
    padding-bottom: 40px;
}

.logoImage {
    height: 80px;
    position: fixed;
    left: 4%;
    top: 1%;
}

.siteLogo img {
    height: 80px;
    position: fixed;
    left: 4%;
    top: 1%;
}

.floatRegister {
    position: fixed;
    right: 10%;
    bottom: 10%;
    border: #d0ff42 solid 5px;
    border-radius: 100%;
    padding: 20px;
    line-height: 0;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: black;
    width: 70px;
    height: 70px;
}

.floatRegister:hover {
    font-size: 25px;
    background-color: black;
    width: 100px;
    height: 100px;
}

.floatLogout {
    position: fixed;
    right: 10%;
    top: 10%;
    border: #d0ff42 solid 5px;
    border-radius: 100%;
    padding: 20px;
    line-height: 0;
    text-align: center;
    font-size: 20px;
    color: white;
}

.floatLogout:hover {
    font-size: 30px;
    background-color: black;
}

a {
    text-decoration: none;
}

.pageBody {
    margin-top: 5%;
    margin-left: 10%;
    padding-left: 10px;
}

.pageBody p {
    color: white;
    font-size: 900%;
    font-weight: bolder;
    letter-spacing: .2em;
    line-height: .8em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.pageBody span {
    color: #d0ff42;
}

.equipmentForm {
    width: 1250px;
    height: 280px;
    margin-top: 8%;
    margin-bottom: 2%;
    margin-left: 9%;
    margin-right: 9%;
    padding: 20px;
    background-color: black;
    border-radius: 25px;
    letter-spacing: .1em;
}

.equipmentForm2 {
    width: 1250px;
    height: 330px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 9%;
    margin-right: 9%;
    padding: 20px;
    background-color: black;
    border-radius: 25px;
}

.equipmentForm3 {
    width: 1250px;
    height: 280px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 9%;
    margin-right: 9%;
    padding: 20px;
    background-color: black;
    border-radius: 25px;
}

.equipmentForm4 {
    width: 1250px;
    height: 330px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 9%;
    margin-right: 9%;
    padding: 20px;
    background-color: black;
    border-radius: 25px;
}

.equipmentFormTitle {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 30px;
	color: #d0ff42;
	font-weight: bold;
}

.equipmentFormText{
	color: white;
	font-size: 25px;
	margin: 0% auto;
	letter-spacing: .2em;
}

.equipmentImage {
    width: 500px;
    padding-right: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;
}

.Memberships {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.Memberships td,
.Memberships th {
    border: 1px solid #ddd;
    padding: 8px;
}

.Memberships tr:nth-child(even) {
    background-color: darkgray;
    color: white;
}

.Memberships tr:nth-child(odd) {
    background-color: #f2f2f2;
    color: black;
}

.Memberships tr:hover {
    background-color: #ddd;
}

.Memberships th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d0ff42;
    color: white;
}

.faq {
    text-align: center;
    font-size: 50px;
    color: #d0ff42;
}

.qstn1:hover+.ans1 {
    display: block;
    color: white;
}

.qstn2:hover+.ans2 {
    display: block;
    color: white;
}

.qstn3:hover+.ans3 {
    display: block;
    color: white;
}

.qstn4:hover+.ans4 {
    display: block;
    color: white;
}

.qstn5:hover+.ans5 {
    display: block;
    color: white;
}

.qstn1 {
    background-color: #f2f2f2;
    padding: 20px;
    border-color: black;
}

.qstn2 {
    background-color: #f2f2f2;
    padding: 20px;
}

.qstn3 {
    background-color: #f2f2f2;
    padding: 20px;
}

.qstn4 {
    background-color: #f2f2f2;
    padding: 20px;
}

.qstn5 {
    background-color: #f2f2f2;
    padding: 20px;
}

.ans1 {
    display: none;
}

.ans2 {
    display: none;
}

.ans3 {
    display: none;
}

.ans4 {
    display: none;
}

.ans5 {
    display: none;
}

.readMore {
    padding: 15px;
    margin-left: 10px;
    color: black;
    background-color: #d0ff42;
    border-radius: 15px;
    
}

.readMore:hover {
    color: #d0ff42;
    background-color: black;
    border: solid #d0ff42 2px;
}

.pageFooter {
    width: 100%;
    /* height: 50px; */
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0 -10px -10px -10px;
    background-color: rgba(0, 0, 0, .9);
    /* position: fixed;
    bottom: 0; */
    clear: both !important;
    z-index:99;
}

.footerColumns div {
    display: inline-block;
    width: 20%;
    text-align: left;
    display: inline-block;
    padding: 5%;
    margin: 1%;
    color: white;
    font-size: 14px;
    line-height: 2em;
}

.footerLogoImage {
    height: 50px;
}

.footerColumns a {
    color: #d0ff42;
}

.footerColumns a:hover {
    color: white;
}

.whiteSpaceDiv {
    height: 155px;
}

.subscribeField {
    padding: 7px;
    width: 91.5%;
    border-radius: 25px;
}

.subscribeField:focus {
    border: solid #d0ff42 5px;
    box-shadow: none;
}

.subscribeButton {
    width: 100%;
    padding: 10px;
    margin-left: 0 auto;
    color: black;
    background-color: #d0ff42;
    background: #d0ff42 !important;
    border-radius: 25px;
    box-shadow: none;
    border: solid black 3px;
}

.subscribeButton:hover {
    background-color: black;
    background: black !important;
    color: white;
    border: solid #d0ff42 5px;
}

.regForm {
    width: 60%;
    margin: 6% auto;
    padding: 20px;
    padding-left: 40px;
    background-color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
}

.regShowForm {
    width: 40%;
    margin: 6% auto;
    padding: 20px;
    padding-left: 40px;
    background-color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
    line-height: 32px;
}

.regForm h2 {
    color: black;
    font-size: 40px;
    font-weight: lighter;
}

.regForm td {
    color: black;
    line-height: 3em;
}


/* Styles for primefaces elements */

.inputBox {
    background-color: white;
    line-height: 40em;
}

.ui-inputfield {
    width: 300%;
    border-radius: 25px;
    box-shadow: none;
    text-shadow: none;
    margin-left: 10px;
}

.ui-inputfield:focus {
    border: solid #d0ff42 5px;
    box-shadow: none;
}

.ui-message {
    margin-top: 0em;
    margin-left: 28em;
    background-color: rgba(0, 0, 0, 0.0);
    border: solid black 0px;
    text-align: left;
}

.ui-message-error-icon {
    display: none;
}

.ui-password-panel {
    color: black;
    background-color: #d0ff42;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-shadow: none;
    font-weight: lighter;
    border-radius: 10px;
}

.ui-button {
    width: 308%;
    padding: 10px;
    margin-left: 10px;
    margin-top: 30px;
    color: black;
    background-color: #d0ff42;
    background: #d0ff42 !important;
    border-radius: 25px;
    box-shadow: none;
}

.ui-button:hover {
    background-color: black;
    background: black !important;
    color: white;
    border: solid #d0ff42 5px;
}


/* Table Styles */

.customerTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.customerTable thead tr {
    background-color: #d0ff42;
    color: #ffffff;
    text-align: left;
}

.customerTable th,
.customerTable td {
    padding: 12px 15px;
}

.customerTable tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, .3);
}

.customerTable tbody tr:last-of-type {
    border-bottom: 2px solid #d0ff42;
}

.customerTable tbody tr.active-row {
    font-weight: bold;
    color: #d0ff42;
}

.tableButtonSave {
    width: 30%;
    padding: 10px;
    margin-left: 10px;
    margin-top: 30px;
    color: black;
    background-color: #d0ff42;
    background: #d0ff42 !important;
    border-radius: 25px;
    box-shadow: none;
    border: none;
}

.tableDiv {
    width: 75%;
    margin: 6% auto;
    padding: 20px;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
}

.tableDiv a {
    color: white;
}

.customerTable input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.customerTable th {
    color: black;
}

.customerTable a {
    padding: 5px 10px 5px 10px;
    background-color: #d0ff42;
    background: #d0ff42 !important;
    border-radius: 25px;
    color: black;
    border: none;
}

.tableFooterActions a {
    margin-left: 3%;
    color: #d0ff42;
}

.dashTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
}

.dashTable thead tr {
    background-color: #d0ff42;
    color: black;
    text-align: left;
}

.dashTable th,
.dashTable td {
    padding: 12px 15px;
}



/* login styles */

.loginForm {
    width: 60%;
    margin: 6% auto;
    padding: 20px;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
}

.loginForm h2 {
    color: white;
    font-size: 40px;
    font-weight: lighter;
}

.loginForm input {
    color: black;
    line-height: 3em;
}

.loginForm label {
    color: white;
}

.loginForm .ui-inputfield {
    width: 308%;
    margin-bottom: 3em;
    margin-left: 2em;
}

.loginForm .ui-button {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    color: black;
    background-color: #d0ff42;
    background: #d0ff42 !important;
    border-radius: 25px;
    box-shadow: none;
    margin-left: 2em;
}

.loginForm .ui-button:hover {
    background-color: black;
    background: black !important;
    color: white;
    border: solid #d0ff42 5px;
}


/* feed styles */

.feedForm {
    width: 55%;
    margin: 100px auto;
    background-color: white;
    padding: 5%;
}

.formBar h4 {
    display: inline-block;
}

.formBar a {
    display: inline-block;
    float: right;
    font-size: 20px;
    color: grey;
}

.messageInput {
    height: 180px;
}

.feedPost {
    width: 80%;
    margin: 100px auto;
    background-color: white;
    /* 	background-color: rgba(255,255,255,.9); */
    padding: 5%;
}

.feedPost img {
    width: 100%;
    margin: 0 auto;
}

.postAuthor {
    color: grey;
    float: right;
    font-style: italic;
    text-align: right;
}


/* contact styles */

.contactForm {
    width: 55%;
    margin: 100px auto;
    background-color: white;
    padding: 5%;
}

.contactForm .formBar h4 {
    display: inline-block;
}

.contactForm .messageInput {
    height: 180px;
}


/* pricing styles */

.pricingCards {
    width: 90%;
    margin: 100px auto;
}

.pricingCards div {
    display: inline-block;
    width: 20%;
    padding: 5%;
    margin: 1%;
    background-color: black;
    color: white;
    font-size: 14px;
    line-height: 2em;
}

.secondCard {
    background-color: #d0ff42 !important;
    color: black !important;
}

.pricingCards input {
    width: 100%;
    padding: 10px;
    margin-left: 0 auto;
    color: black;
    background-color: #d0ff42;
    background: #d0ff42 !important;
    border-radius: 25px;
    box-shadow: none;
    border: solid black 3px;
}


/* Classes Styles */

.classesFeed {
    width: 20%;
    margin: 1%;
    background-color: black;
    padding: 5%;
    display: inline-block;
    color: white;
}
.classesFeed:nth-of-type(even) {
    background-color: #d0ff42;
    color: black;
}
.classesFeed:nth-of-type(even) .classButton:hover  {
	color: black;
	background-color: white;
	border: solid black 3px;
}

.classesFeed:nth-of-type(even) .classButton {
	color: #d0ff42;
	background-color: black;
}

.classesInformation {
    height: 90px;
    overflow-y: auto;
}

.classButton {
	margin: 0 auto;
	width: 100%;
	color: black;
	background-color: #d0ff42;
	border: solid black 3px;
	padding: 2% 8% 2% 8%;
	border-radius: 25px;
}

.classButton:hover{
	color: black;
	background-color: white;
	border: solid black 3px;
}

.classesForm {
    width: 55%;
    margin: 100px auto;
    background-color: white;
    padding: 5%;
}

.classesFormBar h4 {
    display: inline-block;
}

.classesFormBar a {
    display: inline-block;
    float: right;
    font-size: 20px;
    color: grey;
}

/* .classesForm td input {
    width: 300% !important;
}
.classesForm td .ui-message {
    width: 100% !important;
}

.classFormButton {
	width: 100%;
} */

.classesForm table{
	width: 100%;
}
.classesForm table td:nth-of-type(1){
	width: 20%;
}
.classesForm table td:nth-of-type(2){
	width: 20%;
}
.classesForm table td:nth-of-type(3){
	width: 50%;
}



.classesWrapper {
    padding: 2%;
}

.classesCards {
    width: 90%;
    margin: 100px auto;
}

.classesCards div {
    display: inline-block;
    width: 35%;
    padding: 5%;
    margin: 1%;
    background-color: black;
    color: white;
    font-size: 14px;
    line-height: 2em;
    
    height: 300px;
    overflow-y: auto;
}

.secondCard {
    background-color: #d0ff42 !important;
    color: black !important;
}

.classesCards input {
    width: 100%;
    padding: 10px;
    margin-left: 0 auto;
    color: black;
    background-color: #d0ff42;
    background: #d0ff42 !important;
    border-radius: 25px;
    box-shadow: none;
    border: solid black 3px;
}

/* End Classes Styles */

.registerButton {
	padding: 10px;
    color: black;
    background-color: #d0ff42;
    border-radius: 25px;
    border: solid black 3px;
    text-decoration: none;
    margin: 0 auto;
}

.registerButton:hover {
	background-color: white;
}

.feedClassesCards {
    width: 90%;
    margin: 100px auto;
}

.feedClassesCards div {
    display: inline-block;
    width: 35%;
    padding: 5%;
    margin: 1%;
    background-color: black;
    color: white;
    font-size: 14px;
    line-height: 2em;
    
    height: 600px;
    overflow-y: auto;
	color: white;
	margin-top: -30px;
}

.feedClassesCards:nth-of-type(2) {
    background-color: #d0ff42;
    color: black;
}
.feedClassesCards img {
	width: 80%;
}

.feedClassesCards input {
    width: 100%;
    padding: 10px;
    margin-left: 0 auto;
    color: black;
    background-color: #d0ff42;
    background: #d0ff42 !important;
    border-radius: 25px;
    box-shadow: none;
    border: solid black 3px;
}

.custDash {
    margin: 6% auto;
    width:90%;
    padding: 20px;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 25px;
}

.custDash h1 {
    color: white;
    font-size: 40px;
    font-weight: lighter;
}

.custDash h3 {
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

.custDash h4 {
    color: black;
    font-size: 18px;
    font-weight: lighter;
}

.custDash .logoutButton {
    width: 10%;
    padding: 10px;
    color: black !important;
    background-color: #d0ff42 !important;
    background: #d0ff42
     !important;
    border-radius: 25px;
    box-shadow: none;
    margin-left: 2em;
    cursor: pointer;
}

.custDash .logoutButton:hover {
    background-color: black;
    background: black !important;
    color: #d0ff42 !important;
    border: solid #d0ff42 5px;
}

.card {
    width: 80%;
    margin: 6% auto;
    padding: 20px;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, .5);
    font-size: 12px;
    letter-spacing: .1em;
    border-radius: 25px;
}

.dashCard {
    width: 80%;
    margin: 6% auto;
    padding: 20px;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, .5);
}

.aboutBody {
    margin: 10% auto;
}


.fullWidthDiv{
	width: 100%;
	padding: 0px;
	margin: 0 !important;
	height:453px;
	background-color: #d0ff42;
}
.fullWidthDiv>div{
	display: inline-block;
	vertical-align:top;
}

.aboutStory {
	background-color: #d0ff42;
	color: black;
	padding: 3%;
	padding-bottom: 0;
	font-size: 16px;
	letter-spacing: 0em;
	text-align: left;
	width: 52%;
	/* height:250px !important; */
	margin-top: 0px !important;
}
.aboutRegisterButton{
	color: black;
	border: solid black 3px;
	padding: 2%;
	/* background-color: black; */
}

.aboutRegisterButton:hover{
	color: #d0ff42;
	padding: 2%;
	background-color: black;
}

.storyPhoto{
	width: 36%;
	background-image: url("images/pexels-gym-6.jpg") !important;
}
.sideImage{
	width: 100%;
	/* height: 350px; */
	margin-left: 115px;
}

.fullWidthImage{
	margin: 0 auto;
	filter: grayscale(100%);
}

.fullwidthSocial{
	width: 100%;
	padding: 2%;
	margin: 0;
	height:140px;
	background-color: black;
	color: white;
	font-size: 3em;
	font-weight: bolder;
	font-style: italic;
	text-transform: uppercase;
}

.fullwidthSocial:hover{
	background-color: white;
	color: black;
	font-size: 3em;
	font-weight: bolder;
	font-style: italic;
	text-transform: uppercase;
}

.hashParagraph{
	margin: 0 auto;
	padding: 2%;
}
.hashParagraph span{
	color: #d0ff42;
}

.fullWidthPartners{
	width: 100%;
	padding: 4%;
	margin-top: 50px;
	height:340px;
	background-color: #d0ff42;
	color: black;
	font-size: 3em;
	font-weight: bolder;
	font-style: italic;
	text-transform: uppercase;
}

.fullWidthPartners img{
	width: 10%;
	margin: 0 40px 80px 40px;
	display: inline-block;
	vertical-align:top;
	filter: grayscale(100%);
}

.partnerHeading{
	width: 100%;
	padding: 2%;
	margin: 0 auto;
	margin-bottom: -50px;
	height:200px;
	background-color: #d0ff42;
	color: black;
	font-size: 3em;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
}

.partnerHeading hr {
	width: 30%;
	height: 6px;
	background-color: black;
}
.partnerHeading span {
	color: white;
}

/* Trainer Dashboard Styles */

.trainerDashboardProfileCard {
    margin: 6% auto;
    margin-right: 40px; 
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
    color: white;
    font-weight: lighter;
}

.trainerDashboardProfileCard img {
	border-radius: 100%;
}

.trainerDashboardCard {
    margin: 4% auto;
    padding: 20px;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
    color: white;
    font-weight: lighter;
}

.trainerDashboardCard:hover {
    background-color: white;
    color: black !important;
}

.trainerDashboardCard h1 {
    font-size: 40px;
}

.trainerDashboardCard h3 {
    font-size: 20px;
}

.profileButton {
    padding: 10px;
    color: black;
    background-color: #d0ff42;
    border-color: #d0ff42;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    text-shadow: none;
}

.profileButton:hover {
    color: #d0ff42;
    background-color: black;
    border: solid #d0ff42 2px;
}

.ptLogoutButton {
	display: inline-block;
    color: #d0ff42 !important;
    background-color: rgba(0,0,0,0) !important;
    border: solid rgba(0,0,0,0) 0px !important;
    cursor: pointer;
    font-size: 15px;
}

.trainerRegForm {
    width: 100%;
    margin: 6% auto;
    padding: 20px;
    padding-left: 40px;
    background-color: white !important;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
}

.trainerRegForm h2 {
    color: black;
    font-size: 40px;
    font-weight: lighter;
}

.trainerRegForm td {
    color: black;
    line-height: 3em;
}

.textButton{
	display: inline-block;
	width: 100%;
    color: #d0ff42 !important;
    background-color: rgba(0,0,0,1) !important;
    border: solid rgba(0,0,0,0) 0px !important;
    cursor: pointer;
    font-size: 15px;
    text-shadow: none;
}
.textButton:hover{
	display: inline-block;
    color: black !important;
    background-color: #d0ff42 !important;
}

.trainerRegButton{
	display: inline-block;
	width: 100%;
    padding: 10px;
    margin-left: 10px;
    margin-top: 30px;
    color: black;
    background-color: #d0ff42;
    background: #d0ff42 !important;
    border-radius: 25px;
    box-shadow: none;
}

.trainerRegButton:hover {
    background-color: black;
    background: black !important;
    color: white;
    border: solid #d0ff42 5px;
}
/* End Trainer Dashboard Styles */

/* /////// */
.confirmation{
 width: 40%;
    margin: 6% auto;
    padding: 10px;
    padding-left: 40px;
    background-color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
    text-align:center;	
    font-size:20px;
}
.payment{
	color:white;
	text-align:center;
	font-size:50px;
}
.ok{
	 background-color: #d0ff42;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.smiley{
	font-size:48px;
}
.checkout{
	width: 40%;
    margin: 6% auto;
    padding: 10px;
    padding-left: 40px;
    background-color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
    text-align:center;	
    font-size:20px;
}
.checkoutButton{
	 background-color: #d0ff42;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px !important;
}
.checkoutButton:hover{
	background-color: black;
	border: solid #d0ff42 2px;
	color: white;
}
.checkoutTable{
	padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  
  color:black;
}
.checkoutTable td{
	
  padding: 2px;
}
.checkout td{
	width: 40%;
}
.checkout select, input{
	border-radius: 25px;
}
.checkout select:focus, input:focus{
	box-shadow: none;
	border: solid #d0ff42 5px;
	outline: none;
}

.clickable{
	cursor: pointer !important;
}

.pricingCards .clickable:hover{
	background-color: white !important;
}